{% extends 'music/base.html' %}
{% load static %}
{% block content %}


<div id="info" class="tabs">
    <div class="container">

    <div id="info">
	<h3 class="info"><br>
        INFORMATION ABOUT THE DIFFERENT MUSIC GENRES  <br><br> 
        </h3>
        <h4 class="info">
        METAL  <br> 
        <p class="info-detail">Metal (or simply metal) is a genre of rock music that developed in the late 1960s and early 1970s, largely in the United Kingdom and United States.With roots in blues rock, psychedelic rock and acid rock, heavy metal bands developed a thick, monumental sound characterized by distorted guitars, extended guitar solos, emphatic beats and loudness.</p>
        </h4>
        <h5>Ozzy_Osbourne_-_Crazy_Train_Official</h5>
        <audio src="{% static 'music/audio/Ozzy_Osbourne_-_Crazy_Train_Offici_(getmp3.pro).mp3' %}" controls></audio>
    </div>
    <div>
        <h4 class="info"><br>
            DISCO  <br> 
        <p class="info-detail">Disco is a genre of dance music and a subculture that emerged in the 1970s from the United States' urban nightlife scene. Its sound is typified by four-on-the-floor beats, syncopated basslines, string sections, brass and horns, electric piano, synthesizers, and electric rhythm guitars.</p>
        </h4>
        <h5>I am a Disco dancer</h5>
        <audio src="{% static 'music/audio/Disco Dancer - I Am A Disco Dancer Zindagi Mera Gaana - Vijay Benedict.mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            CLASSICAL  <br> 
        <p class="info-detail">Classical music generally refers to the art music of the Western world, considered to be distinct from Western folk music or popular music traditions. It is sometimes distinguished as Western classical music, as the term "classical music" also applies to non-Western art music.</p>
        </h4>
        <h5>Eine Kleine Nachtmusik - Mozart</h5>
        <audio src="{% static 'music/audio/Eine Kleine Nachtmusik - Mozart.mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            HIPHOP  <br> 
        <p class="info-detail">Hip hop music or hip-hop music, also known as rap music and formerly known as disco rap, is a genre of popular music that originated in New York City in the 1970s. It consists of stylized rhythmic music (usually built around drum beats) that commonly accompanies rapping, a rhythmic and rhyming speech that is chanted.</p>
        </h4>
        <h5>Stan - Eminem</h5>
        <audio src="{% static 'music/audio/Eminem - Stan (Lyrics) ft. Dido.mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            JAZZ <br> 
        <p class="info-detail">A Jazz song is defined through its use of instrumentation, improvised solos, or the general approach to performance rather than the form or structure of the composition itself.</p>
        <h5>Slow Dance</h5>
        <audio src="{% static 'music/audio/Slow Dance.mp3' %}" controls preload="metadata"></audio>
        </h4>
    </div>
    <div>
        <h4 class="info"><br>
            COUNTRY   <br> 
        <p class="info-detail">Country (also called country and western) is a music genre originating in the Southern and Southwestern United States. First produced in the 1920s, country primarily focuses on working class Americans and blue-collar American life. <br>
        Country music is known for its ballads and dance tunes (also known as "honky-tonk music") with simple form, folk lyrics, and harmonies accompanied by instruments such as banjos, fiddles, harmonicas, and many types of guitar (including acoustic, electric, steel, and resonator guitars).</p>
        </h4>
        <h5>Is This Country Song Racist? - Key & Peele</h5>
        <audio src="{% static 'music/audio/Is This Country Song Racist_ - Key & Peele_1.mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            POP <br> 
        <p class="info-detail">Pop is short for popular and it's the most mainstream musical genre. Pop is short for popular, and it's the most mainstream musical genre. Pop music is the most accessible of all genres, with its songs being easy to listen to and sing along with.</p>
        </h4>
        <h5>Shape Of You - Ed Sheeran</h5>
        <audio src="{% static 'music/audio/Ed Sheeran - Shape Of You.mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            BLUES <br> 
        <p class="info-detail">Blues songs are lyrical rather than narrative; blues singers are expressing feelings rather than telling stories. The emotion expressed is generally one of sadness or melancholy, often due to problems of love but also oppression and hard times.</p>
        </h4>
        <h5>Ain't Nobody's Business - First Class</h5>
        <audio src="{% static 'music/audio/First Class - Ain Nobodys Business.mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            REGGAE<br> 
        <p class="info-detail">Reggae is a popular music genre of Jamaican origin that combines native styles with elements of rock and soul music and is performed at moderate tempos with the accent on the offbeat.</p>
        </h4>
        <h5>Always Remember Us This Way - Lady Gaga</h5>
        <audio src="{% static 'music/audio/Lady Gaga - Always Remember Us This Way.mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            ROCK <br> 
        <p class="info-detail">People defined "rock and rock-oriented music" as characterized by a strong beat, the use of blues forms and the presence of rock instruments such as electric guitar, electric bass, electric organ or electric piano.</p>
        </h4>
        <h5>Rebel Girl</h5>
        <audio src="{% static 'music/audio/Rebel Girl.mp3' %}" controls preload="metadata"></audio>
   </div>
   <div>
        <h4 class="info"><br>
                BOLLYPOP <br> 
        <p class="info-detail">Bollypop incorporates different genres of music, a mix of languages, variations in harmonics and vocals, a mashup of popular songs on one track, and last but not least, a fusion of American and Indian culture. </p>
        </h4>
        <h5>Nagada Sang Dhol</h5>
        <audio src="{% static 'music/audio/Nagada Sang Dhol.mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            CARNATIC <br> 
        <p class="info-detail">Carnatic Music is a form of Indian classical music with origins in Southern India. Lyrics in Carnatic music are largely devotional; most of the songs are addressed to the Hindu deities. Many songs emphasize love and other social issues or rest on the concept of sublimation of human emotions for union with the divine.</p>
        </h4>
        <h5>Carnatic Music  Raga Shanmukhapriya  Aruna Sairam  Music of India</h5>
        <audio src="{% static 'music/audio/Carnatic Music  Raga Shanmukhapriya  Aruna Sairam  Music of India.mp3' %}" controls preload="metadata"></audio>
    </div><div>
        <h4 class="info"><br>
            GHAZAL <br> 
        <p class="info-detail">As beautiful as the word, Ghazal is the most beautiful musical expression of love, pain, and separation. The ultimate culmination of lyrics, melody, and feelings that touch upon the most sensitive points of human emotion - Ghazal always finds a special place in the collectibility of every musical connoisseur.
            Ghazals are composed in the form of poems that comprise five to fifteen rhythmic couplets.
        </p>
        </h4>
        <h5>Tujhse Naraz Nahi Zindagi -  Lata Mangeshkar #RIP  R.D. Burman, Gulzar  Masoom 1983</h5>
        <audio src="{% static 'music/audio/Tujhse Naraz Nahi Zindagi -  Lata Mangeshkar #RIP  R.D. Burman, Gulzar  Masoom 1983.mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            SEMICLASSICAL <br> 
        <p class="info-detail">Semi-classical music uses the basic structure of classical music but takes the leverage to blend the different ragas. It even deviates from the rigid path to beautify the melody and make it more appealing to the mass. <br>
        The various types of Semi-classical music involve - Thumri, Dadra, Bhajan, Ghazal, Chaiti, Kajri, Tappa, Natya Sangeet, and Qawwali.
        </p>
        </h4>
        <h5>NATARAJA PADADHOOLI...(JAYAS) Malayalam</h5>
        <audio src="{% static 'music/audio/NATARAJA PADADHOOLI...(JAYAS).mp3' %}" controls preload="metadata"></audio>
    </div>
    <div>
        <h4 class="info"><br>
            SUFI <br> 
        <p class="info-detail">Sufi music refers to the devotional music of the Sufis, inspired by the works of Sufi poets like Rumi, Hafiz, Bulleh Shah, Amir Khusrow, and Khwaja Ghulam Farid. <br>

        Qawwali is the best-known form of Sufi music and is most commonly found in the Sufi culture in South Asia. However, music is also central to the Sema ceremony of the whirling dervishes, which is set to a form of music called Ayin, a vocal and instrumental piece featuring Turkish classical instruments such as the ney (a reed flute). The West African gnawa is another form, and Sufis from Indonesia to Afghanistan to Morocco have made music central to their practices. Some of the Sufi orders have taken an approach more akin to puritan forms of Islam, declaring music to be unhelpful to the Sufi way. <br>
            
        Sufi love songs are often performed as ghazals and Kafi, a solo genre accompanied by percussion and harmonium, using a repertoire of songs by Sufi poets.</p>
        </h4>
        <h5>Khwaja Mere Khwaja - A. R. Rahman</h5>
        <audio src="{% static 'music/audio/Khwaja Mere Khwaja - A. R. Rahman.mp3' %}" controls preload="metadata"></audio>
    </div>
  </div>
</div>

{% endblock %}

<!-- {% block js %}
<script>
    $(document).ready(function(){
        $('.up-input').change(function () {
            $('.up-p').text(this.files.length + " file(s) selected");
        });
    });  
</script>
{% endblock %} -->